name: hello-world-cloudcamp
on:
    push:
        branches:
            - main
            - feature/*
    pull_request:
        branches:
            - main

jobs:
    Helloworld:
        name: Hello World Job
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Hello World Action
              run: echo "Hello World!"
            - name: list files
              run: ls -la

